 <div class="main">
    <div class="container">
        <h1><strong>Atualização de Cadastro</strong></h1>
        <p>Preencha o formulario abaixo.</p>
    <div id="formulario">
        <form action="/addcliente" name="Update" method="POST" onsubmit="return Validate_Envio();">
                    
            <div class="nome">
                <label id="name">Nome</label>
                <input type="text" placeholder="Nome e sobrenome" name="nome" required>
            </div>

            <div class="cpf">
                <label id="cpf">CPF</label>
                <input type="number" placeholder="333.333.333-33" name="cpf" required>
            </div>

            <div class="telefone">
                <label id="tel">Telefone</label>
                <input type="tel" placeholder="99 9999-9999" name="tel" required>
            </div>

            <div class="email">
                <label id="email">E-mail</label>                   
                <input type="email" placeholder="Escreva seu email" name="email" required>
            </div>

            <div class="endereco">
                <label id="endereco">Endereço</label>
                <input type="text" placeholder="Endereço completo" name="endereco" required>
            </div>

            <div class="cep">
                <label id="cep">Cep</label>
                <input type="text" placeholder="00000-000" name="cep" required>
            </div>
            
            <button type="submit" id="enviar" value="Enviar">Enviar</button>

        </form>
    </div>
    </div>
</div>